* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-image: url("./img/pattern.png");
    background-color: #4EA0FF;
    background-repeat: repeat;
    height: 150px;;
}

.contenitore {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

.logo{
    height: 50px;
    margin-top: 100px;
}